:root{
    font-family: 'Source Code Pro', monospace;
}

body {
    background: #00c3ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 6px black;
}

.container{
    text-align: center;
    margin-top: 50px;
}

table{
    margin: auto;
}

input{
    color: white;
    font-size: 2rem;
    height: 4rem;
    border-style: none;
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: .8rem;
    background-color: rgb(175, 201, 146);
    outline: none;
    box-shadow: inset 0 0 10px black;
    pointer-events: none;
}

.calculator{
    display: inline-block;
    background-color: gray;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 5px 6px 10px black;
}

button{
    border-style: none;
    /* box-shadow: inset 0 0 5px black; */
    border-radius: 20px;
    font-size: 2rem;
    background-color: lightslategray;
    width: 6rem;
    height: 3.5rem;
    cursor: pointer;
    margin: 0.1rem;
    color: white;
    outline: none;
    box-shadow: 3px 3px 5px black;
}

#blue{
    background-color: rgba(38, 173, 173, 0.562);
}

button:hover {
    /* box-shadow: 3px 3px 5px black; */
    font-size: 1.4rem;
    box-shadow: inset 0 0 5px black;
}

button.span {
    display: flex;
    margin-left: 105%;
    justify-content: center;
    align-items: center;
    background-color: tomato;
}

